<manifest package="com.zero.callhelper.lib"

          xmlns:android="http://schemas.android.com/apk/res/android"
>

    <application android:allowBackup="true"
                 android:icon="@mipmap/ic_launcher"
                 android:label="@string/app_name"
                 android:roundIcon="@mipmap/ic_launcher_round"
                 android:supportsRtl="true"
                 android:theme="@style/AppTheme">

        <service android:name=".scheme.CallSchemeAcceptAPI26$CallNotiReceiverService"
                 android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
                 android:enabled="true" android:exported="true">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>


    </application>

</manifest>
